<!DOCTYPE html>
<html lang="en">

    
<%- include("head") -%>

<body>
    
    
<%- include("navbar") -%>

  <!-- Features -->
  <section id="features">


<div class="carousel-container">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 3" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 2" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container corousel1">
          <!-- <img class="carouselimg" src="/images/lazada_ssmob_proceed_to_checkout.png"/> -->

          <div class="carouseldiv main-img" id="carousel-1"></div>



          <div class="carousel-caption text-start">
            <h2>Step 1: Proceed to lazada checkout</h2>
            <p class="opacity-75">Add items to your basket, proceed to checkout.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container corousel1">
          <div class="carouseldiv main-img" id="carousel-2"></div>
          <div class="carousel-caption text-start">
            <h2>Step 2: Edit the address and order.</h2>
            <p>Use Parcel Hero's shipping address and phone number then place the order.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container corousel1">
          <div class="carouseldiv main-img" id="carousel-3"></div>
          <div class="carousel-caption text-start">
            <h2>Step 3: Register your order here.</h2>
            <p>Let us know about your order by registering below.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  </section>

</body>

<%- include("footer") -%>