<link rel="stylesheet" href="./css/shippingDetails.css">

<br><br><br>
<div class="container pb-5">
<div class="card shippingCard p-2">
    <h2 class="shippingTitle p-1">Shipping Information </h2>

<div class="flex-container">
    <div class="shippingFlex">
        <label for="html">Full Name</label><br>
        <input class="inptShippingDetails" type="text" value="Your Full Name" name="" id="" disabled>
    </div>
    <div class="shippingFlex copyclick">
        <label for="html">Phone Number</label><br>
        <input class="inptShippingDetails" type="text" value="0167474568" name="" id="" readonly>
    </div>
</div>
<div class="address-container copyclick">
    <label for="html">Address</label><br>
    <textarea class="inptShippingDetails" style="resize:none;" type="text" name="" id="" readonly>Lot 1564, Permyjaya Technology Park, Jln Tudan</textarea>
</div>
<div class="flex-container">
    <div class="shippingFlex copyclick">
        <label for="html">State</label><br>
        <input class="inptShippingDetails" type="text" value="Sarawak" name="" id="" readonly>
    </div>
    <div class="shippingFlex copyclick">
        <label for="html">City</label><br>
        <input class="inptShippingDetails" type="text" value="Miri" name="" id="" readonly>
    </div>
    <div class="shippingFlex copyclick">
        <label for="html">Postcode</label><br>
        <input class="inptShippingDetails" type="text" value="98000" name="" id="" readonly>
    </div>
</div>
</div>

</div>